.player-wrapper {
    position: relative;
    padding-top: 56.25%
        /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

/* player button */
.playerPosition {
    position: relative;
}

.aboutPlayerButton {
    position: absolute;
    top: 175px;
    left: 253px;
    background: white;
    border-radius: 50%;
    padding: 35px;
    opacity: 0.89;
}